html,
button,
body{
    font-size: 18px;
    cursor: url("assets/normal-e5daac5e.cur") 10 10, auto !important;
    
}

span#cursor {
    display: inline-block;
    width: 15px;
    height: 30px;
    background-color: #949090;

    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

button#enter_button{
    opacity: 0;
    animation: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes enter_clicked {
    0% {
        background-color: antiquewhite;
        opacity: 1;
    }
    5% {
        background-color: black;
    }
    10% {
        background-color: antiquewhite;
    }
    15% {
        background-color: black;
    }
    20% {
        background-color: antiquewhite;
    }
    40% {
        background-color: black;
    }
    70% {
        background-color: antiquewhite;
    }
    
    100% {
        background-color: black;
    }
}

#starter_page {
    z-index: 2;
}
#main_page {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}


button#Home {
    position: relative;
    overflow: hidden;
    visibility: hidden;
}
button#Home::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: #8b8b8b;

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.5s ease;

    z-index: -1;
}
button#Home:hover::before{
    transform: scaleX(1);
}

button#About {
    visibility: hidden;
}
button#About::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: #8b8b8b;

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.5s ease;

    z-index: -1;
}
button#About:hover::before{
    transform: scaleX(1);
}

button#Projects {
    visibility: hidden;
}
button#Projects::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: #8b8b8b;

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.5s ease;

    z-index: -1;
}
button#Projects:hover::before{
    transform: scaleX(1);
}

button#Placeholder {
    visibility: hidden;
}
button#Home::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: #8b8b8b;

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.5s ease;

    z-index: -1;
}
button#Home:hover::before {
    transform: scaleX(1);
}

@keyframes access_clicked {
    0% {
        background-color: greenyellow;
        opacity: 1;
    }
    5% {
        background-color: green;
    }
    10% {
        background-color: greenyellow;
    }
    15% {
        background-color: green;
    }
    20% {
        background-color: greenyellow;
    }
    40% {
        background-color: green;
    }
    70% {
        background-color: greenyellow;
    }
    
    100% {
        background-color: green;
    }
}

p#line {
    font: "JetBrains Mono", monospace;
}
